/* Header */
.social-links a {
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

/* Hero */
.hero {
  text-align: center;
  margin: 20px 0;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero-title {
  margin-top: 20px;
  font-size: 2rem;
}

/* Product Categories */
.product-categories {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 40px 20px;
}

.category-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* Services */
.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.service-item {
  max-width: 300px;
  text-align: left;
}

.service-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: #6d071a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.service-btn:hover{
  background-color: black;
  transform: scale(1.15);
}

/* Footer */
.store-footer {
  background: #f9f9f9;
  padding: 40px 20px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
